::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #020617;
    }
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(#0F766E, #F59E0B);
      border-radius: 10px;
    }